---
Checks: "bugprone-*,clang-analyzer-*,misc-*,performance-*,readability-*,-cppcoreguidelines-*,-modernize-use-trailing-return-type,-readability-else-after-return,-readability-function-cognitive-complexity"
WarningsAsErrors: ""
HeaderFilterRegex: ".*"
CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassIgnoredRegexp
    value: "^fastloess_.*$"
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.FunctionIgnoredRegexp
    value: "^(cpp_.*|R_init_.*|register_extendr_.*)$"
  - key: readability-identifier-naming.MethodCase
    value: lower_case
  - key: readability-identifier-length.IgnoredParameterNames
    value: "^(x|y|n)$"
  - key: readability-identifier-naming.ParameterIgnoredRegexp
    value: "^(x|y)$"
  - key: readability-identifier-naming.VariableCase
    value: lower_case
...
