# Rust
target/
**/*.rs.bk
Cargo.lock

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.egg-info/

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# IDE
.vscode/
.idea/
*.swp
.DS_Store
bindings/r/src/vendor/
