# Rust / Cargo
/target/
/debug/
**/*.rs.bk
*.pdb
**/mutants.out*/
/vendor/
/.cargo/
src/vendor/
src/target/

# R Package Build Artifacts
*.Rcheck/
*.tar.gz
*.tgz
*.o
*.so
src/Makevars
src/*.o
src/*.so
rfastlowess.BiocCheck/

docs/
doc/
Meta/
README.html
/target/doc/

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo
*~

# OS / System
.DS_Store

# Coverage / Benchmarks
cobertura.xml
tarpaulin-report.html
/target/criterion/

# User Configuration
.Rprofile
/doc/
/Meta/
