name: pkgcheck

on:
  push:
    branches:
      - main
      - master
      - develop
  pull_request:

jobs:
  pkgcheck:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.89.0

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            ropensci-review-tools/pkgcheck
            any::rcmdcheck
          needs: check

      - name: Run pkgcheck
        run: |
          checks <- pkgcheck::pkgcheck()
          print(checks)
          # Fail if there are errors
          if (length(checks$errors) > 0) stop("pkgcheck failed with errors!")
        shell: Rscript {0}
